@model facebook_asp_.Models.userinfo

@{
    ViewBag.Title = "Details";
}

<div>
    <br />
    <br />
    <br />
    <img src="@Model.photo" height="200px" />
    <h3>Frist Name : @Html.DisplayFor(model => model.Fname)</h3>
    <h3>last Name : @Html.DisplayFor(model => model.lname)</h3>
    <h3>Email : @Html.DisplayFor(model => model.email)</h3>
    <br />
    <br />
    <h4>City : @Html.DisplayFor(model => model.city)</h4>
    <h4>Country : @Html.DisplayFor(model => model.country)</h4>

</div>
<br />
<br />
<a><h2>Add Friend</h2> </a>
